<!DOCTYPE html>
<html>
<head>
	<title>Kleber &hearts; Valéria</title>
	<link href="/assets/stylesheets//normalize.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/assets/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/app.js"></script>
</head>
<body>
	<div class="wrapper">
		
		<section id="top">
			<h1>K <em>&hearts;</em> V</h1>
		</section>
		
		<section id="timer" data-counter="<%= @time %>">
			<span id='day' class="counter"><%= @days %>		</span><span>	Dias			</span>
			<span id='hour' class="counter"><%= @hours %>	</span><span>	Horas			</span>
			<span id='min' class="counter"><%= @minutes %></span><span>	Minutos		</span>
			<span id='sec' class="counter"> <%= @seconds %></span><span>	Segundos	</span>
		</section>
		
		<p>21/04/2012 ás 11h30</p>
		
	</div>
	
</body>
</html>
	