<!DOCTYPE html>
<html>
<head>
	<title>Kleber &hearts; Valéria</title>
	<link href="/assets/stylesheets//normalize.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/assets/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/app.js"></script>
</head>
<body>
	<div class="wrapper">
		
		<section id="top">
			<h1>K <em>&hearts;</em> V</h1>
		</section>
		
		<section id="timer" data-counter="<%= @time %>">
			<header>Contagem regressiva!</header>
			<span id='day'><%= @days %></span><em>Dias</em>
			<span id='hour'><%= @hours %></span><em>Horas</em>
			<span id='min'><%= @minutes %></span><em>Minutos</em>
			<span id='sec'><%= @seconds %></span><em>Segundos</em>
		</section>

		<aside>
			<nav id="data">
			 <ul>
			 	<li><a href="#">Local e Mapas</a></li>
			 	<li><a href="#">Datas</a></li>
			 	<li><a href="#">Fotos</a></li>
			 	<li><a href="#">Listas de Presentes</a></li>
			 </ul>
			</nav>
			
			<section id="reactions">
				
			</section>
		</aside>
	</div>
	
	<footer>
		:)
	</footer>
</body>
</html>
	