<!DOCTYPE html>
<html>
<head>
	<title>Kleber &hearts; Valéria</title>
	<link href="/assets/stylesheets//normalize.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/assets/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/app.js"></script>
</head>
<body>
	<div class="wrapper">
		
		<section id="top">
			<h1>Kleber <em>&hearts;</em> Valéria</h1>
		</section>
		
		<section id="timer" data-counter="<%= @time %>">
			<span id='day' class="counter"><%= "%02d" %  @days %>		</span><span>	dias			</span>
			<span id='hour' class="counter"><%= "%02d" % @hours %>	</span><span>	horas			</span>
			<span id='min' class="counter"><%= "%02d" % @minutes %></span><span>	minutos		</span>
			<span id='sec' class="counter"> <%= "%02d" % @seconds %></span><span>	segundos	</span>
		</section>
		
		<p>21/04/2012 ás 11h</p>
		<p>
			<em>“</em>
			para que todos vejam e saibam, considerem e juntamente entendam que a mão do SENHOR fez isso.
			<em>”</em>
		</p>
		<p>Isaías 41:20</p>
	</div>
	
</body>
</html>
	